# Ignore node_modules directories
node_modules/
simple-log-backend/node_modules/
simple-log-frontend/node_modules/
simple-log-sdk/node_modules/

# Ignore logs
logs/
*.log

# Ignore environment variables
.env
simple-log-backend/.env
simple-log-frontend/.env
simple-log-sdk/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# Ignore build outputs
**/dist/
**/build/
